.persons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3px;

}


.personItem{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
}


.personInfo {
    flex: 1;
}

.personTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.personDetails {
    font-size: 14px;
    color: #555;
    margin: 5px 0 0;
}

.personActions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.personButton {;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.personDuration {
    font-size: 14px;
    color: #888;
}

