.commandItem {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
    border-bottom: 1px solid #e0e0e0;
    background-color: #cccccc;
    transition: background-color 0.3s ease;

}

.commandItem:hover {
    background-color: #e8f5fe;
}

.commandInfo {
    flex: 1;
}

.commandTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.commandDetails {
    font-size: 14px;
    color: #555;
    margin: 5px 0 0;
}

.commandActions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.commandButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.commandButton:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.commandDuration {
    font-size: 14px;
    color: #888;
}

.commandDiv{
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;

}

