.div {
    height: 100vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    align-content: center;
    align-items: center;
    width: auto;
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-direction: column;

}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 4px;
    height: auto;
    width: 100%;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #3775dd;
    box-shadow: 0 2px #21487f;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}
.btn:hover {
    background-color: #002fed;
}
.btn:active {
    background-color: #2f599e !important;
}
.btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}